CREATE PROC SP_CHECKMALOP
@MLOP NCHAR(10)
AS 
IF EXISTS(SELECT MALOP FROM DBO.LOP WHERE MALOP = @MLOP)
	BEGIN
		SELECT 'SV' = 1 
	END
ELSE
IF EXISTS(SELECT MALOP FROM LINK0.QLDSV_TC.DBO.LOP WHERE MALOP = @MLOP)
	BEGIN
		SELECT 'SV' = 2
	END
ELSE
	SELECT 'SV' = 0
GO

EXEC SP_CHECKMALOP 'lelamhai5'