<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAnQLDSVTC.Properties.Settings.QLDSV_TCConnectionString"
            connectionString="Data Source=ADMIN\SERVER1;Initial Catalog=QLDSV_TC;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DoAnQLDSVTC.Properties.Settings.QLDSV_TCConnectionString1"
            connectionString="Data Source=ADMIN\SERVER3;Initial Catalog=QLDSV_TC;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>